@charset "UTF-8";

*{
    /*border: 1px solid black;*/
}

:root{
  --tile-size: 250px;
  --margin: 25px;

  --font-color: #303030;
}

html{
  min-height: 100vh;
}

h1{
  font-size: 25pt;
  font-weight: 500;
  margin: 0;
}

h2{
  font-weight: 200;
  margin: 0;
}

/* PROJECT TITLE */
h3{
  font-size: 70pt;
  font-weight: 600;
  margin: 0;
}

/* PROJECT HEADER */
h4{
  font-size: 25pt;
  font-weight: 500;
  padding-bottom: 20px;
  margin: 0;
}

/* PROJECT SUBTITLE */
h6{
  font-weight: 100;
  font-size: 25pt;
  margin: 0;
  padding-bottom: 10px;
}

/* REGULAR TEXT */
p{
  font-size: 16pt;
  font-weight: 200;
  margin: 0;
}

html{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--font-color);
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a{
  color: var(--font-color);
}

.container-row{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-column{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tile{
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
  height: 400px;
  width: 400px;
}

nav{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px 50px;
  width: 100%;
}

#nav-container{
  width: 100%;
}

#nav-container a{
  text-decoration: none;
}

#superlative{
  align-items: center;
  display: flex;
  float: left;
  opacity: .4;
  min-width: 300px;
}

#name{
  align-items: center;
  display: flex;
  float: left;
  font-size: 18pt;
  min-width: 600px;
}

#name h1{
  padding: 0 25px;
}

#name h2{
  opacity: .7;
  padding: 0 10px;
}

nav img{
  height: 40px;
  position: relative;
  top: 3px;
}

#navbar{
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
}

.nav-itm{
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16pt;
  padding-bottom: 0;
  text-align: right;
  transition: padding-bottom .2s;
  margin-left: 50px;
}

.nav-itm:hover{
  padding-bottom: 15px;
  transition: padding-bottom .2s;
}

#quote{
  box-sizing: border-box;
  text-align: center;
  opacity: .3;
  padding: 80px 0 50px;
  width: 100%;
}

#portfolio{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px 100px;
  width: 100%;
}

.project{
  box-sizing: border-box;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
  display: flex;
  height: 400px;
  margin: 40px;
  opacity: 0;
  position: relative;
  top: 10px;
  transition: top .7s;
  width: 400px;
}

.project:hover{
  top: -20px;
  transition: top .7s;
}

.project img{
  border-radius: 5px;
  height: inherit;
  position: absolute;
  width: inherit;
}

.project a{
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 16pt;
  height: inherit;
  justify-content: center;
  opacity: 0;
  padding: 50px;
  text-decoration: none;
  transition: opacity .7s;
  width: inherit;
}

.project a:hover{
  opacity: .85;
  transition: opacity .5s;
}

#scissors{
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: center;
  opacity: .7;
  width: 100%;
}

#scissors img{
  float: left;
  width: 40px;
}

#line{
  width: 92%;
}

#line div{
  border-bottom: 2px dashed var(--font-color);
  position: relative;
  top: 50%;
  width: 100%;
}

footer{
  background-color: #a5a5a5;
  background-image: url("../img/footer_bg.svg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 20%;
  box-shadow: inset 0 10px 10px rgba(0,0,0,.15);
  color: white;
  display: block;
  padding: 20px 50px;
  text-align: left;
}
